.tab::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 0 10px 10px 10px;
    border-style: solid;
    border-color: transparent transparent red transparent;
    opacity: 0;
    transition: opacity 0.3s;
}

.tab:hover::before {
    opacity: 1;
}