@import "tailwindcss";
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import 'swiper/css/scrollbar';
@import 'swiper/css/autoplay';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --first-color: #6c6c6c;
  --second-color: #ee4466;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@300;400;700&display=swap');

body {
  font-family: 'Vazirmatn', sans-serif;
  color: var(--first-color);
}

html[dir="rtl"] .swiper {
  direction: rtl;
}
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* برای حذف اسکرول افقی */
}

.swiper {
  direction: rtl !important;
}

/* دایره‌های pagination */
.swiper-pagination {
  bottom: 20px !important;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border: 2px solid white;
  background: transparent;
  opacity: 1;
  margin: 0 6px !important;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  background: white;
  transform: scale(1.2);
}
